{% extends "./components/base.html" %}

{% block title %}
<title>{{ bamboo_article_detail.title }}</title>
{% endblock %}
{% block content %}
<div>
    <div>
        <h3>{{bamboo_article_detail.title}}</h3>
        <span>{{bamboo_article_detail.publish_time}} | 点击{{ bamboo_article_detail.click_times }}次</span>
    </div>
    <div>
        <p>来源<a href="{{ bamboo_article_detail.url }}">{{ bamboo_article_detail.source_from }}</a></p>
    </div>
    <div>
        <p><a href="javascript:history.back()">返回</a></p>
    </div>
</div>
{% endblock %}
