<div>
    <div>
        <div>
            {% if pagination_info %}
            <nav aria-label="Page navigation">
                <ul class="pagination" style="float: right">
                    <li>
                        <a href="{% url 'index'%}{{ pagination_info.prev_pagination.query_str }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for pagination in pagination_info.paginations %}
                    {% if pagination.is_hidden == False%}
                    {% if pagination.current_idx == pagination_info.current_idx %}
                    <li class="active">
                        {% else %}
                    <li>
                        {% endif %}
                        <a href="{% url 'index' %}?current_idx={{ pagination.current_idx }}&start_id={{ pagination.start_id }}&one_tab_lengt  h={{ pagination_info.one_tab_length }}">{{ pagination.current_idx }}</a></li>
                    {% else %}
                    <li><a href="#">..</a></li>
                    {% endif %}
                    {% endfor %}
                    <li>
                        <a href="{% url 'index'%}{{ pagination_info.next_pagination.query_str }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>